<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jadwalsholatku">

    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".facebook"
            android:parentActivityName=".tentang"
            android:label="Facebook"
            android:theme="@style/semua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tentang"/>
        </activity>

        <activity
            android:name=".youtube"
            android:parentActivityName=".tentang"
            android:label="Youtube"
            android:theme="@style/semua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tentang"/>
        </activity>

        <activity
            android:name=".instagram"
            android:parentActivityName=".tentang"
            android:label="Instagram"
            android:theme="@style/semua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tentang"/>
        </activity>

        <activity
            android:name=".tentang"
            android:parentActivityName=".Home"
            android:label="@string/tentang"
            android:theme="@style/semua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home"/>
        </activity>

        <activity
            android:name=".lokasi"
            android:parentActivityName=".Home"
            android:label="@string/lokasi"
            android:theme="@style/semua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home"/>
        </activity>

        <activity
            android:name=".kompas"
            android:label="@string/kompas"
            android:theme="@style/semua"/>

        <activity
            android:name=".jadwalsholat"
            android:parentActivityName=".Home"
            android:label="@string/jadwalsholat"
            android:theme="@style/semua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home"/>
        </activity>

        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>